<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Gerenciador de tarefas - listar</title>
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>

	<div class="container">
		<h3>Listagem de tarefas</h3>
		<a href="/tarefas/inserir" class="btn btn-success">Inserir nova
			tarefa</a>
		<div th:each="tarefa : ${tarefas}" style="margin: 10px">
			<div class="card bg-light mb-3">
				<div class="card-header" th:text="${tarefa.titulo}"></div>
				<div class="card-body">
					<p class="card-text" th:text="${tarefa.descricao}"></p>
					<p class="card-text"
						th:text="${'Data de expiração: ' + #dates.format(tarefa.dataExpiracao, 'dd/MM/yyyy')}"></p>
					<p class="card-text" th:if="${tarefa.dataExpiracao.after(new java.util.Date()) && !tarefa.concluida}">Status: Em dia</p>
					<p class="card-text" th:if="${tarefa.dataExpiracao.before(new java.util.Date()) && !tarefa.concluida}">Status: Atrasada</p>
					<p class="card-text" th:if="${tarefa.concluida}">Status: Concluida</p>
					<p class="card-text" th:if="${tarefa.concluida}" th:text="${'Data de conclusão ' + tarefa.dataConclusao}"></p>
				</div>
				<div class="card-footer">
					<p>
						<a th:href="@{/tarefas/alterar/{id}(id=${tarefa.id})}">Alterar</a>
						| <a th:href="@{/tarefas/excluir/{id}(id=${tarefa.id})}">Excluir</a>
						| <a th:if="${!tarefa.concluida}" th:href="@{/tarefas/concluir/{id}(id=${tarefa.id})}">Concluir</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<Script src="/webjars/jquery/3.4.1/jquery.min.js"></Script>
	<Script src="/webjars/bootstrap/js/bootstrap.min.js"></Script>
</body>
</html>