<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gerenciador de tarefas - Home</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	
	<div class="container">
		<p>Olá, bem vindo ao gerenciador de tarefas</p>
		<p th:text="${mensagem}"></p>
	</div>
	<Script src="/webjars/jquery/3.4.1/jquery.min.js"></Script>
	<Script src="/webjars/bootstrap/js/bootstrap.min.js"></Script>
</body>
</html>